:root {
  /*ПАЛИТРА*/
  --black: #000000;
  --white: #FFFFFF;
  --white-50: rgba(255, 255, 255, 0.5);
  --white-30: rgba(255, 255, 255, 0.3);
  --gray-white: #F1F5F7;
  --gray-white-50: rgba(241, 245, 247, 0.5);
  --lightest-gray: #F3F7F9;
  --light-gray: #C5C5C5;
  --light-gray-30: rgba(197, 197, 197, 0.3);
  --light-gray-other: #a9a9a9;
  --light-gray-other-30: rgba(169, 169, 169, 0.3);
  --gray: #3D546F;
  --blue: #32425C;
  --dark-blue: #293449;
  --red: #EE3643;
  --dark-red: #CA2C37;
  --error: #BA2732;
  --green: #63A63E;
  --light-green: #5FBB2D;
  --dark-green: #518534;
  --yellow: #FFD180;
  --yellow-50: rgba(255, 209, 128, 0.5);
  /*ФУНКЦИОНАЛЬНЫЕ ЦВЕТА*/
  /*header*/
  --header-background: var(--lightest-gray);
  --menu-background: var(--dark-blue);
  --menu-click: #161D29;
  --main-nav-background: var(--blue);
  --main-nav-hover: var(--dark-blue);
  --main-nav-click: #1D2739;
  --icon-phone: #B7BFC8;
  /*slider*/
  --slider-background: rgba(0, 0, 0, 0.25);
  /*items express navigation*/
  --express-background-materials: #FFBF47;
  --express-background-instruments: #3BBCE3;
  --express-background-technics: #DC91D8;
  --express-background-discount: #8ED78F;
  --express-background-delivery: #FFC047;
  --express-button: var(--white-30);
  --express-button-hover: var(--light-gray-30);
  --express-button-click: var(--light-gray-other-30);
  /*popular sections*/
  --popular-background: #F9F5F0;
  --item-old-price: var(--light-gray-other);
  --item-border: #EAEAEA;
  /*services*/
  --services-background: var(--gray-white);
  --services-button: var(--blue);
  --services-button-hover: var(--dark-blue);
  --services-button-credit: #FF5357;
  /*footer*/
  --footer-nav-background: var(--blue);
  --footer-info-background: var(--dark-blue);
  --footer-text: var(--gray-white);
  --footer-text-click: var(--gray-white-50);
  --footer-color-text: var(--yellow);
  --footer-color-text-click: var(--yellow-50);
  --icon-social: #212A3A;
  /*popap*/
  --popap-contacts-text: var(--light-gray-other);
  --popap-contacts-border: var(--light-gray);
  --popap-contacts-background: #F4F4F4;
  --modal-backet-background: #F1F1F1;
  /*catalog*/
  --background-catalog-title: #F2F6F8;
  --background-filter: #F7F3EC;
  --border-number-page: #E5E5E5;
  --about-perforators-background: var(--gray-white);
  /*Fonts*/
  --main-fonts: "Cuprum", Arial, sans-serif;
  --descriptional-fonts: "PT Sans", Arial, sans-serif;
  --font-body: 18px;
  --font-title: 30px;
  --font-descriptional: 13px;
  --font-button: 14px;
}

/*Global*/

.page-body {
  min-width: 940px;
  margin: 0 auto;
  padding: 0;
  font-family: var(--main-fonts);
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-body);
  line-height: 24px;
  color: var(--black);
  background-color: var(--white);
}

/*Header*/

.main-header {
  background-color: var(--lightest-gray);
  /*Временно*/
}

.main-menu {
  color: var(--basic-white);
  background-color: var(--dark-blue);
}

.menu-button {
  color: var(--white);
  text-decoration: none;
}

.favorites:active {
  color: var(--white-50);
  background-color: var(--menu-click);
}

.basket:active {
  color: var(--white-50);
  background-color: var(--menu-click);
}

.order {
  background-color: var(--green);
}

.order:hover, .order:focus {
  background-color: var(--light-green);
}

.order:active {
  color: var(--white-50);
}

.header-title {
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: var(--red);
}

.main-contacts {
  font-size: 14px;
  line-height: 24px;
  color: var(--blue);
}

.phone-numder {
  text-decoration: none;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--red);
}

.user-account-button {
  text-decoration: none;
  font-size: 21px;
  line-height: 21px;
  color: var(--black);
  background-color: var(--white);
}

.login-link:hover, .login-link:focus {
  color: var(--red);
}

.login-link:active {
  color: var(--light-gray);
}

.registration:hover, .registration:focus {
  color: var(--red);
}

.registration:active {
  color: var(--light-gray);
}

.user-name {
  text-decoration: none;
  color: var(--black);
}

.user-name:active {
  color: var(--light-gray);
}

.log-out {
  color: var(--light-gray);
  text-decoration: none;
}

.log-out:hover, .log-out:focus {
  color: var(--gray);
}

.log-out:active {
  color: var(--light-gray);
}

.user-account-menu {
  color: var(--blue);
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
}

.my-oders:hover, .my-oders:focus {
  color: var(--red);
}

.my-oders:active {
  color: var(--light-gray);
}

.all-account:hover, .all-account:focus {
  color: var(--red);
}

.all-account:active {
  color: var(--light-gray);
}

.main-navigation {
  background-color: var(--main-nav-background);
}

.main-navigation-list {
  list-style: none;
}

.navigation-button {
  text-decoration: none;
  color: var(--white);
}

.navigation-button:hover, .navigation-button:focus {
  background-color: var(--main-nav-hover);
}

.navigation-button:active {
  color: var(--white-50);
  background-color: var(--main-nav-click);
}

/*MAIN*/

.slider {
  color: var(--white);
}

.rectangle {
  background-color: var(--slider-background);
}

.slider-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}

.red-button {
  text-decoration: none;
  font-size: var(--font-button);
  line-height: 18px;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--red);
}

.red-button:hover, .red-button:focus {
  background-color: var(--dark-red);
}

.red-button:active {
  background-color: var(--error);
}

.item-express-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--white);
}

.item-express-button {
  text-decoration: none;
  font-size: var(--font-button);
  line-height: 18px;
  color: var(--white);
  background-color: var(--express-button);
  text-transform: uppercase;
}

.item-express-button:hover, .item-express-button:focus {
  background-color: var(--express-button-hover);
}

.item-express-button:active {
  background-color: var(--express-button-click);
}

.materials {
  background-color: var(--express-background-materials);
}

.instruments {
  background-color: var(--express-background-instruments);
}

.technics {
  background-color: var(--express-background-technics);
}

.discount-50 {
  background-color: var(--express-background-discount);
}

.delivery {
  background-color: var(--express-background-delivery);
}

.popular-headline {
  background-color: var(--popular-background);
}

.popular-headline-title {
  color: var(--blue);
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-title);
  line-height: 30px;
  text-transform: uppercase;
}

.popular-products-list {
  list-style: none;
}

.catalog-item {
  font-family: var(--descriptional-fonts);
  border: 1px solid var(--item-border);
}

.item-name {
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
  font-size: var(--font-body);
  line-height: 20px;
}

.price {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
}

.old-price {
  color: var(--item-old-price);
  text-decoration-line: line-through;
}

.new-price {
  color: var(--white);
  background-color: var(--red);
}

.user-choice {
  font-family: var(--main-fonts);
  font-size: var(--font-button);
  line-height: 18px;
  text-transform: uppercase;
}

.user-choice-button {
  text-decoration: none;
}

.buy-button {
  color: var(--white);
  background-color: var(--green);
}

.buy-button:hover, .buy-button:focus {
  background-color: var(--light-green);
}

.buy-button:active {
  background-color: var(--dark-green);
}

.favorites-button {
  color: var(--blue);
  border: 3px solid var(--green);
}

.favorites-button:hover, .favorites-button:focus {
  border: 3px solid var(--blue);
}

.favorites-button:active {
  color: rgba(50, 66, 92, 0.5);
  border: 3px solid rgba(50, 66, 92, 0.5);
  /*По макету тоже не понятно какой цвет..*/
}

.popular-brand-list {
  list-style: none;
}

.services {
  background-color: var(--services-background);
}

.section-title {
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-title);
  line-height: 30px;
  text-transform: uppercase;
}

.one-service-name {
  color: var(--blue);
}

.text-description {
  font-family: var(--descriptional-fonts);
  font-size: var(--font-descriptional);
  line-height: 24px;
}

.service-name {
  list-style: none;
}

.service-button {
  color: var(--white);
  font-family: var(--main-fonts);
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  background-color: var(--services-button);
}

.service-button:focus {
  color: var(--services-button-hover);
  background-color: var(--white);
}

.credit-button {
  text-decoration: none;
  color: var(--white);
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-button);
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--services-button-credit);
}

.delivery-companies {
  list-style: none;
}

/*Footer*/

.page-footer {
  color: var(--white);
  background-color: var(--footer-nav-background);
}

.footer-contacts {
  color: var(--footer-text);
}

.repeated-navigation-list {
  list-style: none;
}

.nav-link {
  text-decoration: none;
}

.white-nav-link {
  color: var(--footer-text);
}

.white-nav-link:hover, .white-nav-link:focus {
  text-decoration: underline;
}

.white-nav-link:active {
  color: var(--footer-text-click)
}

.yellow-nav-link {
  color: var(--footer-color-text);
  list-style: none;
}

.yellow-nav-link:hover, .yellow-nav-link:focus {
  text-decoration: underline;
}

.yellow-nav-link:active {
  color: var(--footer-color-text-click);
}

.site-info {
  color: var(--white);
  font-size: 16px;
  line-height: 18px;
  background-color: var(--footer-info-background);
}

.social-icons {
  list-style: none;
}

.social-button {
  color: var(--white);
  text-decoration: none;
  background: linear-gradient(0deg, #212A3A, #212A3A);
}

.social-button:hover, .social-button:focus {
  background: var(--red);
}

.social-button:active {
  background: var(--red);
}

.html-academy {
  text-decoration: none;
  color: var(--footer-color-text);
}

.html-academy:hover, .html-academy:focus {
  text-decoration: underline;
}

.html-academy:active {
  color: var(--red);
}

/*CATALOG*/

.breadcrumbs {
  list-style: none;
}

.breadcrumb {
  font-family: var(--descriptional-fonts);
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-descriptional);
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black);
  text-decoration: none;
}

.catalog-main-title {
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-title);
  line-height: 30px;
  color: var(--blue);
  text-transform: uppercase;
  background-color: var(--background-catalog-title);
}

.filter-name {
  font-family: var(--descriptional-fonts);
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-descriptional);
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--background-filter);
}

.list-pages {
  list-style: none;
}

.number-page {
  font-family: var(--descriptional-fonts);
  font-size: var(--font-descriptional);
  line-height: 18px;
  color: var(--black);
  text-decoration: none;
}

.number-page-current {
  color: var(--white);
  background-color: var(--red);
}

.about-perforators {
  background-color: var(--about-perforators-background);
}

/*MODAL*/

.modal-bascket-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.modal-backet-background {
  background-color: var(--modal-backet-background);
}

.button-continue {
  font-family: var(--main-fonts);
  line-height: 24px;
  text-transform: uppercase;
  background-color: var(--white);
  border: none;
}
